.DS_Store
.idea
*.log
tmp/

*.pdf
*.bbl
*.dvi
*.core
*.tex
*.bak
_cache
_site
_tmp

*.docx

.orgids
Shakefile
*.hi
*.dyn_hi
*.o
*.dyn_o
_build/
_shake/
login.cfg
lol.html
notes/index.html
.git_pres.tex.swo
.git_pres.tex.swp
*.toc
*.profile*
