movie title="101 Dalmatians" year=1996 rating=3
movie title="12 Angry Men" year=1957 rating=4
movie title="12 Years a Slave" year=2013 rating=4
movie title="'2001: A Space Odysseys'" rating=4 year=1968
movie title="47 Ronin" year=2013 rating=3
movie title="A Silent Voice" year=2016 rating=5
movie title="'Alien: Covenant'" rating=4 year=2017
movie title="'Alien: Covenant'" rating=4
movie title="Aliens" year=1986 rating=4
movie title="All About Eve" rating=4 year=1950
movie title="All That Breathes" year=2022 rating=4
movie title="American Animals" year=2018 rating=4
movie title="Arrival" year=2016 rating=4
movie title="Babel" year=2006 rating=3
movie title="Burning" year=2018 rating=4
movie title="Caché" year=2005 rating=4
movie title="'Captain America: Civil War'" year=2016 rating=3
movie title="City of God" rating=5 year=2002
movie title="City of God" rating=5
movie title="Dallas Buyers Club" rating=4 year=2013
movie title="Dallas Buyers Club" rating=4
movie title="Don't Breathe" year=2016 rating=4
movie title="Dragon Ball Z: Battle of Gods" year=2013 rating=3
movie title="Dungeons & Dragons: Honor Among Thieves" rating=3.5
movie title="Dunkirk" year=2017 rating=4
movie title="Enola Holmes" year=2020 rating=3
movie title="First Blood" year=1982 rating=4
movie title="First Man" year=2018 rating=4
movie title="Glass Onion" year=2022 rating=4
movie title="Green Room" year=2015 rating=4
movie title="High and Low" year=1963 rating=4
movie title="How to Train Your Dragon" year=2010 rating=4
movie title="How to Train Your Dragon 2" year=2014 rating=4
movie title="'How to Train Your Dragon: The Hidden World'" year=2019 rating=4
movie title="Huesera The Bone Woman" year=2022 rating=4
movie title="Iron Man" year=2008 rating=3
movie title="Iron Man 2" year=2010 rating=3
movie title="Iron Man 3" year=2013 rating=3
movie title="Jodorowsky's Dune" rating=4
movie title="John Wick"
movie title="John Wick - Chapter 2" year=2017 rating=4
movie title="La La Land" year=2016 rating=4
movie title="La bataille d'Alger" year=2023 rating=4
movie title="La pianiste" year=2001 rating=4
movie title="Leave No Trace" year=2018 rating=4
movie title="Les parapluies de Cherbourg" rating=4 year=1964
movie title="Logan" year=2017 rating=4
movie title="Looper" year=2012 rating=4
movie title="Manchester by the Sea" year=2016 rating=4
movie title="'Mission: Impossible - Fallout'" year=2018 rating=4
movie title="'Mission: Impossible - Rogue Nations'" year=2015 rating=4
movie title="Moana" year=2016 rating=4
movie title="Moonlight" year=2016 rating=4
movie title="Mother" year=2009 rating=4
movie title="Mustang" year=2015 rating=4
movie title="Nice Guys" year=2000 rating=4
movie title="No time to die" year=2021 rating=4
movie title="'Planet Earth: A Celebration'" year=2020 rating=4
movie title="Plein Soleil" rating=4 year=1960
movie title="Plein Soleil" rating=4
movie title="Poor things" year=2023 rating=4
movie title="Portrait d'une jeune fille en feu" rating=4
movie title="Ran" rating=4
movie title="Rashomon" rating=4
movie title="Red Beard" rating=4
movie title="Remainder" year=2015 rating=4
movie title="Repo Man" year=1984 rating=3
movie title="Riders of Justice" rating=4
movie title="Rise of the Planet of the Apes" year=2011 rating=3
movie title="Roma" year=2018 rating=4
movie title="Sanjuro" rating=4 year=1962
movie title="Sanjuro" rating=4
movie title="Seven Samurai" rating=4 year=1954
movie title="Seven Samurai" rating=4
movie title="Shang-Chi and the Legend of the Ten Rings" rating=3
movie title="Shaun the Sheep" rating=4 year=2007
movie title="Snowpiercer" rating=4
movie title="Sorry to Bother You" year=2018 rating=4
movie title="Soul" year=2020 rating=4
movie title="'Spiderman: Far from home'" rating=3
movie title="Spirited Away" year=2001 rating=4
movie title="'Start Wars: The Last of the Skywalker'" rating=3
movie title="Still Walking" year=2008 rating=4
movie title="Still Walking"
movie title="The Death of Stalin" year=2017 rating=4
movie title="The Draughtman's contact" rating=4
movie title="The Endless Trench" year=2019 rating=4
movie title="The GateKeepers" rating=4
movie title="The Handmaiden" year=2016 rating=4
movie title="The Hidden Fortress" rating=4
movie title="The Hunt" year=2012 rating=4
movie title="The Irishman" rating=4
movie title="The Iron Giant" rating=4
movie title="The Lego Batman movie" rating=4
movie title="The Lighthouse" year=2019 rating=4
movie title="The Northman" year=2021 rating=4
movie title="The Passion of the Christ" year=2004 rating=4
movie title="The Shape of Water" year=2017 rating=4
movie title="The Shining" year=1980 rating=4
movie title="The Throne of Blood" rating=4
movie title="The Witch" year=2015 rating=4 movie title="The adventures of robin hood" year=1938 rating=4 movie title="Three Billboards Outside Ebbing, Missouri" year=2017 rating=4 movie title="Uncut Gems" year=2019 rating=4 movie title="Us" rating=3 movie title="Vast of the night" year=2021 rating=4 movie title="Widows" year=2018 rating=4 movie title="Wonder Woman" year=2017 rating=4 movie title="Yojimbo" rating=4 year=1961 movie title="Yojimbo" rating=4 movie title="Zero Dark Thirty" year=2012srating=4
